* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(216, 108, 7, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url(desk.jpg);

  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

/*
-----------NAVIGATION BAR-----------------------------------------------
*/

#navbar1 {
  padding: 2%;
  /* float: left; */
}

.navlinks {
  color: white;

  font-size: 18px;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  margin-right: 3%;
  z-index: 3;
}
.navlinks:hover {
  color: orange;
  transition: color 0.4s;
  transform: translateY(2px);
  text-decoration: none;
}
#libtn,
#ghbtn:hover {
  cursor: pointer;
}

/*--------- PROJECT DROPDOWN LINKS FROM NAVBAR-----*/
#dropdownMenuButton {
  border: none;
  background: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  position: relative;

  /* padding: 2%; */
  padding: 2% 2% 1% 2%;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}
#dropdownMenuButton:hover {
  color: orange;
  transition: color 0.4s;
  transform: translateY(2px);
  border-bottom: 1px solid orange;
}

.dropdownlinks {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 4px 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: orange;
}
.dropdownlinks:hover {
  color: white;

  background-color: orange;
}
#intro {
  position: relative;
  top: 30%;
  clear: both;
}

#headerP {
  color: white;
  font-size: 20px;
}

/*
---------------------------------------------------------

/*------------PROJECT-----SECTION DIV ID'S-------------*/

.down {
  margin-top: 50px;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* height: 250px; */
  height: auto;
  /* width: 490px; */
  width: 94%;
  border: 1px solid orange;
}

/*------------CLASSES AND H1-H2-DISPLAY-------------------------*/

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  text-align: center; */
}

.invisible {
  display: none;
}
.block1 {
  display: block;
}

.center {
  text-align: center;
}

hr {
  height: 2px;
  background-color: orange;
}

h2 {
  color: orange;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 20px;
}
.descriptions {
  margin-top: 40px;
  position: relative;
  padding: 5%;
}
/*------------BUTTONS------------------------------------*/
.openButtons {
  border: none;
  color: orange;
  background-color: white;
  padding: 14px 28px;
  text-align: center;
  font-size: 15px;
  border: 2px solid orange;
  border-radius: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 2%;
  /*  margin-top: 5px; */
  margin-bottom: 50px;
  /*  margin-bottom: 10%; */
  cursor: pointer;
}
.openButtons:hover {
  color: white;
  background-color: orange;
  transform: translateY(3px);
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}

#emailbutton {
  border: none;
  color: orange;
  background-color: white;
  padding: 14px 28px;
  text-align: center;
  font-size: 15px;
  border: 2px solid orange;
  border-radius: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
  /*  margin-top: 5px; */
}
#emailbutton:hover {
  color: white;
  background-color: orange;

  transform: translateY(3px);
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}
#bmulti {
  position: relative;
  top: 3%;
}

/*----------------------------------------------------------*/

/*---------------FOOTER-------------------------------------------*/

footer {
  height: 400px;
  background-color: gray;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(216, 108, 7, 0.9),
    rgba(0, 0, 0, 0.7)
  );

  text-align: center;
}
#footcontainer {
  position: relative;
  /* top: 10%; */
  text-align: center;
}

#aboutmep {
  /* width: 50%; */
  position: relative;
  /* left: 25%; */
  padding: 5%;

  /*   margin-top: 2%; */
  line-height: 1.5em;
  letter-spacing: 1px;
  color: white;
}
#h1Aboutme {
  color: orange;
}

/*----------------------------------------------------------*/
