* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --barlow: "Barlow", sans-serif;
  --fra: "Fraunces", serif;
}
body {
  clear: both;
}
.floatLeft {
  float: left;
  list-style-type: none;
  margin-top: 2%;
  margin-left: 2%;
}

.floatRight {
  float: right;
  list-style-type: none;
  font-family: var(--barlow);
  font-weight: 100;
  font-size: 1em;
  margin-right: 7%;
  margin-top: 2%;
}

header {
  background-image: url("contents/image-header.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  padding: 0;
}

.links {
  display: inline;
  margin-left: 10px;
}
#creatives {
  text-align: center;
  position: relative;
  top: 20%;
  color: white;
  font-family: var(--fra);
  font-weight: 900;
  letter-spacing: 2%;
  clear: both;
}

#sunnyside {
  font-family: var(--fra);
  color: white;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}
a:visited {
  color: white;
}
.headerbuttons {
  border: none;
  background-color: #3dbeff;
  color: white;
  padding: 5px;
}
button,
a {
  cursor: pointer;
}
.headerbuttons:hover {
  cursor: pointer;
  background-color: white;
  border-radius: 10%;
  color: #3dbeff;
}

/*----------------------------*/
img {
  max-width: 100%;
  display: block;
  padding: 0%;
  margin: 0;
}

/*--------------------BUTTON----------------*/

.learnmorebutton {
  border: none;
  font-family: var(--fra);
  background: none;
  font-weight: 900;
}
.learnmorebutton:hover {
  border: none;
  border-bottom: 3px solid yellow;
}
/*-------------------------------------------*/
#photography {
  color: rgb(17, 94, 118);
  font-family: var(--fra);
}
#graphicdesign {
  color: hsl(167, 40%, 24%);
  font-family: var(--fra);
  font-weight: 600;
}
.picdesc {
  display: inline;
  position: relative;
  bottom: 37%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ppadding {
  padding: 0 10%;
}
#gdtext {
  font-family: var(--barlow);
  position: relative;
  color: hsl(167, 40%, 24%);
}

#pttext {
  font-family: var(--barlow);
  color: hsl(198, 62%, 26%);
}

.pheadingH2 {
  font-family: var(--fra);
  font-family: 900;
}

.pfont {
  font-family: var(--barlow);
  text-align: left;
}

.transformBrand {
  position: relative;
  top: 25%;
  padding: 5%;
  margin-bottom: 10%;
}
.center {
  text-align: center;
}

/*------------------TESTIMONIAL SECTION-------------*/
.images {
  border-radius: 50%;
  margin-bottom: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#testimonials {
  font-family: var(--fra);
  color: gray;
}
.testp {
  font-family: var(--barlow);
  position: relative;
  color: #1f1f1f8e;
  padding: 2% 8%;
}
.job {
  font-family: var(--barlow);
  color: #a9a9a98e;
}

/*------------------------------------------------------------*/

/*-----------------------------Footer---------------------*/
#footerlist li {
  display: inline;
  /* margin-right: 10%; */
  font-family: var(--barlow);
  padding: 3%;
}
#h3footer {
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: var(--fra);
}

#footericons {
  margin-top: 5%;
}

#footericons li {
  display: inline-block;
  /*  margin-right: 20px; */
  padding: 2%;
}
#footer {
  background-color: hsl(168, 34%, 41%);
}

@media screen and (max-width: 550px) {
  .links {
    display: block;
  }
}
