* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

header {
  background-image: url(images/bg-desktop-light.jpg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  height: 50vh;
}
h1 {
  color: white;
  text-transform: uppercase;
  position: relative;
  /* left: 25%; */
  /*  top: 25%; */
  letter-spacing: 15px;
  font-weight: 500;
}
.center {
  text-align: center;
}
#entry {
  width: 400px;
  height: 40px;
  display: block;
  position: relative;
  left: 30%;
  top: 50px;
  /* position: relative;
  display: block; */

  /*  left: 25%; */
  /*   top: 35%; */
}
ul {
  position: relative;
  left: 30%;
  top: 50px;
}
@media screen and (max-width: 720px) {
  ul {
    left: 20%;
  }
  #entry {
    left: 20%;
  }
}
@media screen and (max-width: 520px) {
  ul {
    left: 10%;
  }
  #entry {
    left: 10%;
  }
}
@media screen and (max-width: 420px) {
  ul {
    left: 2%;
  }
  #entry {
    left: 2%;
  }
}
@media screen and (max-width: 330px) {
  ul {
    left: 0%;
  }
  #entry {
    left: 0%;
  }
  h1 {
    font-size: 24px;
  }
}

li {
  display: block;
}

.liStyle {
  list-style: none;
  padding: 10px;
  width: 400px;
  background-color: white;
  border-bottom: 1px solid rgb(189, 189, 189);
}
#sortable li:hover {
  background-color: rgb(231, 64, 45);
  cursor: pointer;
}
.oneList {
  list-style: none;
  padding: 10px;
  width: 400px;
  background-color: white;
  border-bottom: 1px solid rgb(189, 189, 189);
  /* display: inline; */
}
label {
  margin-left: 10px;
}
input[type="radio"] {
  opacity: 0.5;
}
button {
  height: 30px;
  border: none;

  background-color: inherit;
  position: relative;
  bottom: 5px;
  float: right;
  margin-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(108, 189, 216);
  color: white;
  transition-duration: 0.2s;
  cursor: pointer;
}
#span1 {
  font-size: 10px;
  opacity: 0.5;
}
#spanAll {
  color: blue;
  position: relative;
  left: 60px;
}
h6 {
  position: relative;
  top: 200px;

  text-align: center;
}
.X {
  opacity: 0.5;
  cursor: pointer;
  margin-right: 5px;
}
.X:hover {
  background-color: red;
  color: white;
  font-size: large;
  border-color: black;
  transition-duration: 0.2s;
}
